{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portf </title>
    <link rel="icon" type="image/x-icon" href="./Images/favicon.jpeg">
    <link rel="stylesheet" href="{% static 'css/ss.css' %}">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>`
    
    <!-- Navbar Section -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">Portfolio</h2>
        </div>
        <div class="right-nav">
            <ul class="flex">
                <li><a href="#home" class="t-white roboto">Home <i class="fa-solid fa-house"></i></a></li>
                <li><a href="#about" class="t-white roboto">About Me <i class="fa-solid fa-user"></i></a></li>
                <li><a href="#skills" class="t-white roboto">Skills <i class="fa-solid fa-code"></i></a></li>
                <li><a href="#Projects" class="t-white roboto">Projects <i class="fas fa-project-diagram"></i></a></li>
                <li><a href="#Contact" class="t-white roboto">Contact <i class="fa-solid fa-rocket"></i></a></li>
            </ul>
        </div>
    </nav>

        

    <!-- Home Section -->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h6 class="poppinss">Hi, I'm</h6>
                <h1 class="t-white">Rituraj Singh</h1>
                <h4 class="poppinss">Web Developer</h4>
                <a href="{% static 'pdf/resume.pdf' %}"  target="_blank">
                    <button class="btn poppins">Resume</button></a>
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
               
                <img src="{% static 'images/pic1.png'%}" alt="">
            </div>

        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <h1 class="t-center my-2 t-white f-2">About Me</h1>
        <div class="about-container flex s-around ">
            <div class=" about-left flex s-center items-center">
                <!-- Here in src replade the given link with your secondary image link -->
                <img src="{%static 'images/aboutpic.png'%}" alt="" style="width: 60%;">
            </div>

            <div class="about-right flex">
                <div class="about-content">
                    
                    <p class="t-white poppins">Hi, I’m Rituraj Singh Rathore from Ajmer, a tech enthusiast with a B.Tech degree in Electronics and Communication Engineering from JECRC Foundation, Jaipur, graduating in 2023. I specialize in Python and Django, and I enjoy building robust, scalable web applications that solve real-world problems. With a strong foundation in backend development and a constant drive to learn, I’m passionate about turning ideas into functional digital solutions. I’m now looking for exciting opportunities to grow, collaborate, and contribute to impactful tech projects.</p> 
                    <a class="btn" id="hireme"
                        href="#Contact">Hire Me</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section id="skills">
        <h1 class="t-center my-2 t-white f-2">Skills</h1>
        <div class="services-container flex s-around h-50">
        <div class=" skills-left flex s-center items-center">
            <img src="{%static 'images/pro.png'%}" alt="">
        </div>

        <div class="skills-right flex items-center">
            <div class="skillss-container">
                <div class="java bar p-relative"><span class="bar-content left t-white">Python</span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="css bar p-relative"><span class="bar-content left t-white">Django</span><span
                        class="bar-content right-skills t-white">80%</span></div>
                <div class="js bar p-relative"><span class="bar-content left t-white">JavaScript</span><span
                        class="bar-content right-skills t-white">70%</span></div>
                <div class="python bar p-relative"><span class="bar-content left t-white">NODEjs</span><span
                        class="bar-content right-skills t-white">60%</span></div>
                <div class="mysql bar p-relative"><span class="bar-content left t-white">React</span><span
                        class="bar-content right-skills t-white">50%</span></div>        
            </div>
        </div>
        </div>
    </section>

    

    <!-- Projects Section -->
    <section id="Projects">
        <h1 class=" t-center my-2 t-white f-2">Projects</h1>
        <div class="projects-container flex s-center">
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">On Road Assistance</h1>
                <p class="t-white poppins"> This is a full-stack web application built with Python, Django, and SQLite, designed to provide quick roadside help to users. The platform includes a secure login system, allowing users to request assistance through a simple form. Once a request is submitted, users can track it via the “My Requests” page, while admins or service providers can view and manage all requests through the “All Requests” section. The app ensures a smooth, responsive user experience</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/rituraj2028/On-Road-Assistance"
                        target="_blanks" class="btn mx-1 m-top">GitHub</a>
                    
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">Personal Portfolio</h1>
                <p class="t-white poppins">A dynamic portfolio website developed using Python and Django to showcase my projects, skills, and background. The site features a clean, responsive design with structured sections like About Me, Projects, Skills, and Contact. It is fully functional with Django’s templating system and uses SQLite as the backend to manage project data. This portfolio not only highlights my work but also demonstrates my backend development skills, template rendering, and ability to build professional web applications from scratch.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/rituraj2028/Personal-Portfolio" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">Nexora</h1>
                <p class="t-white poppins">Voice Assistant using Python (Nexora)Built a Python-based voice assistant capable of understanding and responding to voice commands. Features include opening websites, telling time and weather, playing YouTube content, and generating jokes. Integrated speech recognition, text-to-speech (TTS), and external APIs for real-time interactivity.This project demonstrates real-time automation, API integration, and natural voice interaction.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/rituraj2028/Nexora" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    
                </div>
            </div>
           
         </div>

        </div>
    </section>

    <!-- Contact Me Section -->
    <section id="Contact" class="m-b-1">
        <h1 class=" t-center my-2 t-white f-2">Contact Me</h1>
        <div class="contact-container flex s-around items-centers">
            <div class="form" id="contactForm">
                <form method="post" > 
                    {% csrf_token %}
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                    </div>

                    <div class="email form-div">
                        <input type="email" name="email" id="" class="poppins" placeholder="Enter Your Email"
                            required>
                    </div>

                    <div class="phone form-div">
                        <input type="phone" name="number" id="" class="poppins" placeholder="Enter Your Phone"
                            required>
                    </div>
                    
                    <div class="textarea form-div">
                        <textarea name="content" id="textarea" cols="30" rows="10" class="poppins"
                            placeholder="Enter Messages"></textarea>
                    </div>
                    <button type="submit" class="btn poppins" id="submit">Send</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer id="footer">
        <ul class="flex s-center w-80 m-auto my-2 res">
            <li><a href="#home" class="poppinss">Home</a></li>
            <li><a href="#about" class="poppinss">About</a></li>
            <li><a href="#skills" class="poppinss">Skills</a></li>
            <li><a href="#Projects" class="poppinss">Projects</a></li>
            <li><a href="#Contact" class="poppinss">Contact</a></li>
            
        </ul>
        <ul class="flex s-center w-80 font-awesome ">
            <a href="" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="https://github.com/rituraj2028" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            </a>
                <a href="" target="_blank">
                    <li><i class="fa-brands fa-instagram"></i></li>
            </a>
            
        </ul>
        <p class="t-center my-2 poppins">&copy; All Rights Reserved  <span class="cpy-white poppins">
                </span></p>

    </footer>
     
</body> 
</html>
